.link-list {
  flex: 1;
  overflow-y: auto;
}

.link-list::-webkit-scrollbar {
  width: 6px;
}

.link-list::-webkit-scrollbar-track {
  background: transparent;
}

.link-list::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 3px;
}